/***********************************
GENERAL
***********************************/
body {
    background-color: black;
    color: #ffffff;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

h3 {
    margin: 0 0 1em 0;
}

#wrapper {
    /*max-width is relaated to width. But instead of width, max-width that it can be  smaller for mobile devices/tablets.*/
    max-width: 940px;
    /*Margin 0 is for all sides.*/
    margin: 0 auto;
    /*Values first one is for top and bottom. Second one is for left and right.*/
    padding: 0 5%;
}

/***********************************
HEADER
***********************************/
header {
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}

#logo{
    /*our name and description of who we are.*/
    text-align: center;
    margin: 0;
}

h1 {
    font-family: 'Bilbo Swash Caps', cursive;
    margin: 15px 0;
    font-size: 3em;
}

h2 {
    font-family: 'Bilbo Swash Caps', cursive;
    font-size: 2em;
    /*1st value is for the top. 2nd is for left and right. 3rd is for the bottom.*/
    margin: -5px 0 0;
    font-weight: normal;
}

/***********************************
NAVIGAION
***********************************/
nav {
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
}

nav al {
    list-style: none;
    padding: 10px 0;
    margin: 0 10px;
}

nav li {
    display: inline-block;
}

nav a {
    font-weight: 800;
    padding: 15px 10px;
}  


/***********************************
FOOTER
***********************************/
footer {
    font-size: 0.75em;
    text-align: center;
    padding-top: 50px;
    color: #ccc;
    clear: both;
}
.socialmediaicon {
    width: 20px;
    height: 20px;
    margin: 0 5px;
}


/***********************************
PAGE PORFOLLIO
***********************************/
#gallery {
    margin: 0;
    padding: 0;
    list-style: none;
}

#gallery li {
    float: left;
    width: 45%;
    margin: 2.5%;
    background-color: black;
    color: #000000;
}

#gallery li a p {
    marggin: 0;
    padding: 5%;
    font-size: 0.75em;
    color: white;
}

/***********************************
ABOUT ME PAGE
***********************************/
.profile-photo {
    dislplay: block;
    max-width: 0 auto 30px;
    border-radius: 15%;
}



/***********************************
CONTACT PAGE
***********************************/
/*contact-info {
  list-style: none;
  pading: 0;
  margin: 0;
  font-size: 0.9em;
}*/

.contact-info {
    display: block;
    min-height: 20px;
    /*by default it will always repeat, background images*/
    background-repeat: no-repeat;
    /*re-size  the background img*/
    background-size: 20px 20px;
    padding: 0 0 0 30px;
    margin: 0 0 10px;
}

.contact-info li.mail a {
    background-image: url('../img/Mail.jpg');
}

.contact-info li.instagram a {
    background-image: url('../img/instagram.png');
}


/***********************************
COLORS
***********************************/
a {
    color: #6ab47b;
}

header {
    background: #709c34;
}

h1, h2 {
    color: #fff;
}

nav {
    background: #27bff2;
}

/*Pseudo-Class */
nav a, nav a:visited{
    color: #fff;
}

nav a.selected, nav a:hover {
   color: #32673f; 
}


/***********************************
MEDIA Querie
***********************************/
/*TWO COLUMN LAYOUT*/

@media screen and (min-width: 480px) {
    #primary {
        width: 50%;
        float: left;
    }
    
    #secondary {
        width: 40%;
        float: right;
    }
/*THREE COLUMN LAYOUT PORTFILIO*/
#gallery li{
    width: 28.3333%;
}
#gallery li:nth-child(4n){
    clear: left;
}
/*ABOUT PAGE*/
.profile-photo {
    float: left;
    margin: 0 5% 80px 0;
}

}





















